*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    gap: 50px;
}

.item{
    margin-bottom: 20px;
    margin-left: 90px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 24px;
    color: #000;
}

.leabel_title{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin-right: 10px;
}

.site_imput{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
   

}

.site_btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #0fbd0f;
}
.wrapper{
    margin-left: 90px;
    margin-bottom: 20px;
}
.cart_wrapper{
    display: flex;
    margin-bottom: 50px;
}
.cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 150px;
    height: 160px;
    margin-left: 10px;
    
    border: 2px solid;
    border-radius: 4px;
}
.cart_title{
    
    margin-bottom: 20px;
}
